body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 80px;
  /* Ajuste el margen superior para evitar superposición con el navbar */
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 2.5em;
  color: #333;
}

.about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;
}

.about-us .card {
  width: 30%;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-us .card-body {
  padding: 20px;
}

.about-us .card-body h2 {
  font-size: 1.5em;
  color: #555;
  margin-bottom: 10px;
}

.about-us .card-body p {
  font-size: 1em;
  color: #777;
}

.test-list {
  margin-top: 40px;
}

.test-list h2 {
  font-size: 2em;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.test-list .card {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.test-list .card-body {
  padding: 20px;
}

.test-list .card-title {
  font-size: 1.5em;
  color: #333;
}

.test-list .card-text {
  font-size: 1em;
  color: #555;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}
