<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h2>Tests Realizados</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 mb-7" *ngFor="let test of tests">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ test.nombre_tipo_test }}</h5>
                    <p class="card-text">
                        <strong>Fecha:</strong> {{ test.fecha_realizacion | date }}<br>
                        <strong>Descripción:</strong> {{ test.descripcion }}<br>
                        <strong>Estado:</strong> {{ test.confirmar ? 'Confirmado' : 'Por confirmar' }}<br>
                        <button class="btn btn-primary" (click)="VerTest(test.id_test)">Ver Detalle</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="tests.length === 0" class="row">
        <div class="col">
            <p>No se han encontrado tests realizados.</p>
        </div>
    </div>


    <!-- Botón Retroceder al final de la sección de tests realizados -->
    <div class="row mt-4">
        <div class="col text-center">
            <a href="/listar-tipo-test" class="btn btn-primary">Retroceder</a>
        </div>
    </div>
</div>
