<body>

    <main>
        <div class="Titulosisvita">
            <h1>SISVITA</h1>
        </div>
    <div class="ContenedorLogins">
        <div class="EspecialistaLog">
        <a href="">
            <img
            src="../../assets/imginicio-home/especialista.jpg"
            alt="Special"
            class="imagen1"
            />
        </a>
        <p>Especialista</p>
        </div>
        <div class="PacienteLog">
        <a href="/login-persona">
            <img
            src="../../assets/imginicio-home/paciente.jpg"
            alt="Paciente"
            class="imagen2"
            />
        </a>
        <p>Paciente</p>
        </div>
    </div>
    </main>
</body>


