<script
  src="https://kit.fontawesome.com/fd82a06844.js"
  crossorigin="anonymous"
></script>

<div class="Todo">
  <div class="Imagen-sisvitaimg">
    <img
      src="../../assets/imglogin-persona/sisvitaimg.jpg"
      alt="Cerebro"
      class="imagen1"
    />
  </div>
  <div class="center-container">
    <div class="login-container">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="loginPersona()">
        <div>
          <input id="correo" formControlName="correo" type="email" />
          <label for="correo">Correo:</label>
        </div>
        <div>
          <input id="clave" formControlName="clave" type="password" />
          <label for="clave">Contraseña: </label>
        </div>
        <button type="submit">Login</button>
      </form>
      <p class="register-link">
        ¿No tienes una cuenta?
        <a href="/registrar-persona">Regístrate aquí</a>
      </p>
    </div>
  </div>
</div>
