/* Cambiar color de fondo de offcanvas a blanco */

.offcanvas-body.bg-white {
    background-color: #fff;
}


/* Cambiar color del título de offcanvas a blanco */

.offcanvas-title {
    color: #fff;
}


/* Cambiar color de los enlaces en el menú de navegación */


/* Cambiar color de los enlaces en el menú de navegación */

.navbar-nav .nav-link {
    color: #fff;
    /* Color de texto para enlaces no visitados */
    font-size: 18px;
    /* Tamaño de fuente */
    font-weight: bold;
    /* Negrita */
}


/* Cambiar color de los enlaces activos y visitados */

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:visited {
    color: white;
    /* Color de texto para enlaces activos, visitados y al pasar el mouse */
}