<script
  src="https://kit.fontawesome.com/fd82a06844.js"
  crossorigin="anonymous"
></script>
<body>
  <main>
    <div class="contenedor-login">
      <div class="imagenlogin">
        <img
          src="../../assets/imglogin-especialista/loginespecialista.png"
          alt="logo"
          class="imagen1"
        />
      </div>
      <div class="formulariologin">
        <form action="" class="formulario_login">
          <h2>Iniciar Sesión</h2>
          <div class="correo">
            <input type="text" placeholder="Correo Electrónico" />
            <label for="#">Correo</label>
          </div>
          <div class="contraseña">
            <input type="password" placeholder="Contraseña" />
            <label for="#">Contraseña</label>
          </div>
          <button>Iniciar Sesión</button>
        </form>
        <p class="Registrarse">
          ¿No tienes una cuenta?
          <!--<a href="/registrar-especialista">Regístrate aquí</a>-->
        </p>
      </div>
    </div>
  </main>
</body>
