@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@0;1&family=Marko+One&family=Playwrite+AU+VIC:wght@100..400&family=Playwrite+ES:wght@100..400&display=swap");
* {
<<<<<<< HEAD
  font-family: "Marko One", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.imagenlogin {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
}
.contenedor-login {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: auto;
}
.formulariologin {
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.5);
  padding: 10px;
  max-width: 400px;
  width: 100%;
  overflow: hidden;
}

.formulariologin::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 500px;
  height: 420px;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.formulariologin h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #4bb3b4;
}
.correo,
.contraseña/*,
.formulariologin form button */ {
  margin-bottom: 15px;
}

.formulariologin form div label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.formulariologin form div input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.formulariologin form button {
  width: 100%;
  padding: 10px;
  background-color: #73ced1;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.formulariologin form button:hover {
  background-color: #4bb3b4;
}
.imagen1 {
  border-radius: 20px;
}
=======
    font-family: "Marko One", serif;
    margin: 0;
    padding: 0;
}

.Todo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
}

.Imagen-sisvitaimg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27%;
    background: url(img-login-especialista/sisvitaimg1.jpg);
}

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-container form div {
    margin-bottom: 15px;
}

.login-container form div label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.login-container form div input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container form button {
    width: 100%;
    padding: 10px;
    background-color: #e473b1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container form button:hover {
    background-color: #7a3e5f;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: #d90004;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
>>>>>>> 12b7964379b545fca4f1b82078886390d4e372f3
