<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/principal">SISVITA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<!-- Offcanvas Content -->
<div class="offcanvas offcanvas-end text-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
    <div class="offcanvas-header bg-dark">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">MENU</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body bg-dark">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/principal">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Acerca de nosotros</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Cuenta
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Ver Perfil</a></li>
                    <li><a class="dropdown-item" href="#">Editar Perfil</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/login-persona">Cerrar Sesion</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="content-wrapper">
    <div *ngIf="respuestas2" class="test-respuestas">
        <h2>Respuestas del test</h2>
        <ul>
            <li><strong>1. ¿Con qué frecuencia te sientes preocupado/a por cosas cotidianas como tus estudios, tu trabajo o tus relaciones?:</strong>{{respuestas2.respuestas2[0]}}</li>
            <li><strong>2. ¿Te sientes nervioso/a o intranquilo/a la mayor parte del tiempo?:</strong> {{ respuestas2.respuestas2[1] }}</li>
            <li><strong>3. ¿Te cuesta concentrarte en tus tareas académicas debido a la ansiedad?:</strong> {{ respuestas2.respuestas2[2] }}</li>
            <li><strong>4. ¿Te preocupas excesivamente por tu desempeño académico y las calificaciones?:</strong> {{ respuestas2.respuestas2[3] }}</li>
            <li><strong>5. ¿Te sientes fácilmente fatigado/a o agotado/a, incluso después de una buena noche de sueño?:</strong> {{ respuestas2.respuestas2[4] }}</li>
            <li><strong>6. ¿Te cuesta relajarte o disfrutar de actividades recreativas debido a la ansiedad?:</strong> {{ respuestas2.respuestas2[5] }}</li>
            <li><strong>7. ¿Tienes problemas para conciliar el sueño o mantenerte dormido/a debido a preocupaciones?:</strong> {{ respuestas2.respuestas2[6] }}</li>
            <li><strong>8. ¿Sientes dolores musculares o tensiones, especialmente en el cuello, los hombros o la espalda?:</strong> {{ respuestas2.respuestas2[7] }}</li>
            <li><strong>9. ¿Te preocupas por situaciones sociales, como hablar en público o interactuar con compañeros de clase?:</strong> {{ respuestas2.respuestas2[8] }}</li>
            <li><strong>10. ¿Te sientes irritable o de mal humor con frecuencia?:</strong> {{ respuestas2.respuestas2[9] }}</li>
            <li><strong>11. ¿Te resulta difícil controlar tus preocupaciones, incluso cuando sabes que no son racionales?:</strong> {{ respuestas2.respuestas2[10] }}</li>
            <li><strong>12. ¿Evitas ciertas actividades o situaciones porque te causan ansiedad?:</strong> {{ respuestas2.respuestas2[11] }}</li>
            <li><strong>13. ¿Experimentas síntomas físicos de ansiedad, como sudoración, palpitaciones o temblores?:</strong> {{ respuestas2.respuestas2[12] }}</li>
            <li><strong>14. ¿Te sientes abrumado/a por las responsabilidades y tareas académicas?:</strong> {{ respuestas2.respuestas2[13] }}</li>
            <li><strong>15. ¿Te preocupa tu futuro profesional y sientes que no estás haciendo lo suficiente para prepararte?:</strong> {{ respuestas2.respuestas2[14] }}</li>
            <li><strong>16. ¿Te sientes ansioso/a antes de exámenes o presentaciones importantes?:</strong> {{ respuestas2.respuestas2[15] }}</li>
            <li><strong>17. ¿Te preocupa excesivamente tu salud o la de tus seres queridos?:</strong> {{ respuestas2.respuestas2[16] }}</li>
            <li><strong>18. ¿Te sientes inseguro/a o con baja autoestima debido a la comparación con otros estudiantes?:</strong> {{ respuestas2.respuestas2[17] }}</li>
            <li><strong>19. ¿Te cuesta disfrutar de tiempo libre porque sientes que deberías estar estudiando o trabajando?:</strong> {{ respuestas2.respuestas2[18] }}</li>
            <li><strong>20. ¿Experimentas episodios de pánico o ataques de ansiedad en situaciones de alta presión académica?:</strong> {{ respuestas2.respuestas2[19] }}</li>

        </ul>
        <h2>Suma de puntajes:</h2>
        <p>{{ sumaRespuestas2 }}</p>
        <h2>Situación según el resultado:</h2>
        <p class="resultado">{{ resultado2 }}</p>
    </div>
</div>