/* Cambiar color de fondo de offcanvas a blanco */

.offcanvas-body.bg-white {
    background-color: #fff;
}


/* Cambiar color del título de offcanvas a blanco */

.offcanvas-title {
    color: #fff;
}


/* Cambiar color de los enlaces en el menú de navegación */


/* Cambiar color de los enlaces en el menú de navegación */

.navbar-nav .nav-link {
    color: #fff;
    /* Color de texto para enlaces no visitados */
    font-size: 18px;
    /* Tamaño de fuente */
    font-weight: bold;
    /* Negrita */
}


/* Cambiar color de los enlaces activos y visitados */

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:visited {
    color: white;
    /* Color de texto para enlaces activos, visitados y al pasar el mouse */
}

.test-respuestas {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Estilos para los títulos */

.test-respuestas h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}


/* Estilos para las listas de respuestas */

.test-respuestas ul {
    list-style-type: none;
    padding: 0;
}

.test-respuestas ul li {
    margin-bottom: 5px;
    font-size: 1.2rem;
}


/* Estilos para la suma de puntajes */

.test-respuestas p {
    font-size: 1.2rem;
    margin-top: 10px;
}


/* Estilos para la situación según el resultado */

.test-respuestas {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
}


/* Estilos para los títulos */

.test-respuestas h2 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 15px;
    text-align: center;
}


/* Estilos para las listas de respuestas */

.test-respuestas ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 15px;
}

.test-respuestas ul li {
    font-size: 1.4rem;
    margin-bottom: 8px;
}


/* Estilos para la suma de puntajes */

.test-respuestas p {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}


/* Estilos para la situación según el resultado */

.test-respuestas .resultado {
    font-size: 1.4rem;
    font-weight: bold;
    color: #007bff;
    /* Color azul para resaltar */
    text-align: center;
}

.content-wrapper {
    margin-top: 80px;
    /* Ajusta según la altura de tu barra de navegación */
    padding: 20px;
}