<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card bg-light text-center">
                <div class="card-body">
                    <h5 class="card-title">Test de ansiedad corto</h5>
                    <p class="card-text">Este test de ansiedad está diseñado para evaluar la frecuencia y el impacto de los síntomas de ansiedad que ha experimentado en las últimas dos semanas. Consta de 7 preguntas que cubren diferentes aspectos de la ansiedad y cada pregunta
                        tiene 4 opciones. Al responder con sinceridad, el test proporcionará una visión clara de su estado emocional reciente y puede ser una herramienta útil para identificar la necesidad de buscar ayuda profesional para manejar la ansiedad.</p>
                    <a href="['/test', 1]" class="btn btn-primary">Realizar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <div class="card bg-light text-center">
                <div class="card-body">
                    <h5 class="card-title">Test de ansiedad mediano</h5>
                    <p class="card-text">Este test de ansiedad ha sido creado para medir los niveles de ansiedad en estudiantes universitarios. Incluye 4 opciones y 20 preguntas que tratan diferentes aspectos de la ansiedad, como preocupaciones diarias, síntomas físicos y
                        emocionales, y cómo afecta la ansiedad al rendimiento académico y social. Tómese el tiempo necesario para reflexionar sobre cada pregunta y responda con la mayor precisión posible.</p>
                    <a href="['/test', 2]" class="btn btn-primary">Realizar</a>
                </div>
            </div>
        </div>
    </div>
</div>